{% extends 'base.html' %}

{% block title %}
  Vaccine Campaign
{% endblock %}

{% block content %}
  {% load crispy_forms_tags %}
  <div class="container mb-4">
    <div class="row">
      <div class="col-md-1 col-lg-1"></div>
      <div class="col-md-10 col-lg-10">
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
        <h3 class="mt-4 mb-4"><b>Vaccine Campaign</b></h3>
        {% if request.user.account.type == 'Doctor' %}
          <div class="d-flex justify-content-end">
            <a href="{% url 'campaign.create' %}" class="btn btn-primary btn-sm">Create</a> &nbsp;
            <a href="{% url 'booking.index' %}" class="btn btn-secondary btn-sm">Booking List</a>
          </div>
        {% endif %}

        <div class="table-responsive">
          <table class="table table-bordered mt-4">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Location</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for object in campaigns %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ object.title }}</td>
                  <td>{{ object.location }}</td>
                  <td>{{ object.start_date|date:'F j, Y g:i A' }}</td>
                  <td>{{ object.end_date|date:'F j, Y g:i A' }}</td>
                  <td>
                    <div class="d-flex">
                      {% if request.user.account.type == 'Doctor' %}
                        <a href="{% url 'campaign.edit' object.id %}" class="btn btn-warning btn-sm">Edit</a> &nbsp;
                        <a href="{% url 'campaign.review' object.id %}" class="btn btn-secondary btn-sm">Reviews</a>
                      {% endif %}
                      {% if request.user.account.type == 'Patient' %}
                        {% if object.id in already_applied %}
                          <span class="badge bg-danger">Already Applied</span>
                          <a href="{% url 'campaign.review' object.id %}" class="btn btn-secondary btn-sm">Leave a comment</a>
                        {% else %}
                          <a href="{% url 'apply_for_vaccine' object.id %}" class="btn btn-success btn-sm">Apply For Vaccine</a>
                        {% endif %}
                      {% endif %}
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-1 col-lg-1"></div>
    </div>
  </div>
{% endblock %}
